// Importez vos variables SCSS
@import "../../variables";

.list {
    padding: 20px;
    background-color: $background-color;
  
    &__title {
      color: $primary-color;
      margin-bottom: 20px;
      font-size: 2rem; 
    }
  
    &__table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  
      th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid darken($background-color, 10%);
        color: $text-color; 
      }
  
      th {
        background-color: lighten($primary-color, 40%);
        color: $secondary-color;
      }
    }
  
    &__link-home {
      color: $link-color;
      padding: 10px 15px;
      background-color: lighten($primary-color, 50%);
      border-radius: 4px;
      text-decoration: none;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }