// Importez vos variables SCSS
@import "../../variables";

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $background-color;
  
    &__title {
      color: $secondary-color;
      margin-bottom: 20px;
      font-size: 2rem; 
    }
  
    &__table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  
      
    }
  
    &__link-home {
      align-self: center; 
      padding: 10px 50px;
      background-color: $primary-color;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      border: none;
  
      &:hover {
        background-color: darken($primary-color, 10%);
        text-decoration: none;
      }
    }
  }