@import "../../variables";

.error {
  color: red;
  font-size: 0.7em;
}

.employee-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color:#F4F4F4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
    &__label {
      display: block; 
      margin-bottom: 5px;
    }
  
    &__input, &__select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }


  
    &__fieldset {
      padding: 10px;
      border: 1px solid #d3d0d0;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      gap: 10px; // Espacement entre les champs d'adresse
  
      &__legend {
        
      }
    }

    
    &__field-row {
      display: flex;
      gap: 20px; 
      margin-bottom: 10px;
  
      // Permettre aux éléments de prendre toute la largeur disponible
      & > div {
        flex-grow: 1;
      }
    }

    &__field {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
  
    &__button-save {
      display: block; 
      margin: 20px auto;
      margin-bottom: 0px;
      padding: 10px 50px;
      background-color: $primary-color;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      border: none;
  
      &:hover {
        background-color: darken($primary-color, 10%);
        
      }
    }
  }
  