// Bloc principal pour le tableau
.listTable {
    & tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  
    & tr:nth-child(even) {
      background-color: #ffffff;
    }

    &__header {
      display: flex;
      flex-direction: row;
    }
  }

  .wrapperPagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    
  }